<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.email %></td>
        <td><%= order.total %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
